In [ ]:
'''

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)'''

'\n\nfrom pydrive.auth import GoogleAuth\nfrom pydrive.drive import GoogleDrive\nfrom google.colab import auth\nfrom oauth2client.client import GoogleCredentials\n\nauth.authenticate_user()\ngauth = GoogleAuth()\ngauth.credentials = GoogleCredentials.get_application_default()\ndrive = GoogleDrive(gauth)'

In [ ]:
!pip install PyDrive
from google.colab import drive
drive.mount('/content/drive')

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (47.3.1)
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
train_path='/content/drive/My Drive/Datasets/Twitter sentiment analysis dataset/train.txt'
test_path='/content/drive/My Drive/Datasets/Twitter sentiment analysis dataset/test_samples.txt'
#print(train)

import pandas as pd
#test=open('/content/drive/My Drive/Datasets/Twitter sentiment analysis dataset/test_samples.txt', encoding='utf-8').read()
#train=open('/content/drive/My Drive/Datasets/Twitter sentiment analysis dataset/train.txt', encoding='utf-8').read()

train=pd.read_csv(train_path)
train=pd.DataFrame(data= train)
train.to_csv('train.csv', header=True, index=False, encoding='utf-8')
#print(train.columns)
print(train)

#pd.to_csv(test_path)
test=pd.read_csv(test_path)
test=pd.DataFrame(data= test)
test.to_csv('test.csv', header=True, index=False, encoding='utf-8')
#print(test)

                 tweet_id  ...                                         tweet_text
0      264183816548130816  ...  Gas by my house hit $3.39!!!! I\u2019m going t...
1      263405084770172928  ...  Theo Walcott is still shit\u002c watch Rafa an...
2      262163168678248449  ...  its not that I\u2019m a GSP fan\u002c i just h...
3      264249301910310912  ...  Iranian general says Israel\u2019s Iron Dome c...
4      262682041215234048  ...  Tehran\u002c Mon Amour: Obama Tried to Establi...
...                   ...  ...                                                ...
21460  522949024132112384  ...  the day after newark ill be able to say ""i me...
21461  522372593312350209  ...  FEC hold farewell session for seven ministers ...
21462  522515200592052224  ...  Luca Di Montezemolo (who's last day was Monday...
21463  523089087155437568  ...  Coffee is pretty much the answer to all questi...
21464  518290874300514304  ...  Niki Lauda just confirmed to Sky that Alonso w...

[21465 rows x 3 columns]

In [ ]:
#convert to lowercase and remove punctuations

import string

train=pd.read_csv('train.csv')
train=train.dropna(axis=0, how='any')


def removetext(text):
  return ''.join([i if ord(i)<128 else '' for i in text])

#train['tweet_text']=train['tweet_text'].apply(removetext)
                                              
train['tweet_text']=train['tweet_text'].apply(lambda x:x.lower())
#print(lower_tweet)

#print(string.punctuation)
train['tweet_text']=train['tweet_text'].str.translate(str.maketrans('','',string.punctuation))
#train
#print(clean_text)



train['tweet_text']=train['tweet_text'].str.split()
import nltk
#nltk.download('punkt')
#rain['tweet_text']=nltk.word_tokenize(train['tweet_text'])


from nltk.corpus import stopwords
'''nltk.download('stopwords')
stop = stopwords.words('english')

train['tweet_text']=train['tweet_text'].apply(lambda x: [item for item in x if item not in stop])'''
train

#

                 tweet_id  ...                                         tweet_text
0      264183816548130816  ...  [gas, by, my, house, hit, 339, iu2019m, going,...
1      263405084770172928  ...  [theo, walcott, is, still, shitu002c, watch, r...
2      262163168678248449  ...  [its, not, that, iu2019m, a, gsp, fanu002c, i,...
3      264249301910310912  ...  [iranian, general, says, israelu2019s, iron, d...
4      262682041215234048  ...  [tehranu002c, mon, amour, obama, tried, to, es...
...                   ...  ...                                                ...
21460  522949024132112384  ...  [the, day, after, newark, ill, be, able, to, s...
21461  522372593312350209  ...  [fec, hold, farewell, session, for, seven, min...
21462  522515200592052224  ...  [luca, di, montezemolo, whos, last, day, was, ...
21463  523089087155437568  ...  [coffee, is, pretty, much, the, answer, to, al...
21464  518290874300514304  ...  [niki, lauda, just, confirmed, to, sky, that, ...

[21465 rows x 3 columns]

In [ ]:
'''import nltk
s=train['tweet_text'].iloc[0]
#s=s.split()
s=list(nltk.bigrams(s))
s'''

[('gas', 'by'),
 ('by', 'my'),
 ('my', 'house'),
 ('house', 'hit'),
 ('hit', '339'),
 ('339', 'iu2019m'),
 ('iu2019m', 'going'),
 ('going', 'to'),
 ('to', 'chapel'),
 ('chapel', 'hill'),
 ('hill', 'on'),
 ('on', 'sat')]

In [ ]:
#bigrams
from nltk.util import ngrams
from nltk import word_tokenize 

#token = nltk.word_tokenize(text)
'''for i in range(len(train)):
    #token = nltk.word_tokenize(line)
    train['tweet_text'].iloc[i]= list(nltk.bigrams(train['tweet_text'].iloc[i])) 
    #bigram = list(ngrams(token, 2))'''


'''for i in range(len(train)):
  ans=[]
  arr = train['tweet_text'].iloc[i]
  for j in range(len(arr)-1):
    ans.append([[arr[j], arr[j+1]]])

  train['tweet_text'].iloc[i]= ans '''
train

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                 tweet_id  ...                                         tweet_text
0      264183816548130816  ...  [(gas, by), (by, my), (my, house), (house, hit...
1      263405084770172928  ...  [(theo, walcott), (walcott, is), (is, still), ...
2      262163168678248449  ...  [(its, not), (not, that), (that, iu2019m), (iu...
3      264249301910310912  ...  [(iranian, general), (general, says), (says, i...
4      262682041215234048  ...  [(tehranu002c, mon), (mon, amour), (amour, oba...
...                   ...  ...                                                ...
21460  522949024132112384  ...  [(the, day), (day, after), (after, newark), (n...
21461  522372593312350209  ...  [(fec, hold), (hold, farewell), (farewell, ses...
21462  522515200592052224  ...  [(luca, di), (di, montezemolo), (montezemolo, ...
21463  523089087155437568  ...  [(coffee, is), (is, pretty), (pretty, much), (...
21464  518290874300514304  ...  [(niki, lauda), (lauda, just), (just, confirme...

[21465 rows x 3 columns]

In [ ]:
'''new_data=train.drop('tweet_text',axis=1) 
new_data.insert(2,"clean_text", clean_text)
#print(new_data.clean_text)
print(new_data['clean_text'])'''

#array=train['tweet_text'].str.split(' ', expand=True).stack().value_counts()
array=pd.Series([y for x in  train['tweet_text'] for y in x]).value_counts()
print(array)
d= {'word':array.index, 'frequency': array}
#print(d)
df2= pd.DataFrame(data= d)

#df2['word']=df2['word'][df2['word']!=df2['word'].isnull() or df2['word']!='']
df2['frequency']=df2['frequency'][df2['frequency']>9]

df2

(in, the)             1648
(of, the)             1257
(for, the)            1137
(going, to)           1130
(on, the)             1114
                      ...
(american, except)       1
(like, mj)               1
(29th, music)            1
(too, our)               1
(go, starbucks)          1
Length: 207657, dtype: int64

                                  word  frequency
(in, the)                    (in, the)     1648.0
(of, the)                    (of, the)     1257.0
(for, the)                  (for, the)     1137.0
(going, to)                (going, to)     1130.0
(on, the)                    (on, the)     1114.0
...                                ...        ...
(american, except)  (american, except)        NaN
(like, mj)                  (like, mj)        NaN
(29th, music)            (29th, music)        NaN
(too, our)                  (too, our)        NaN
(go, starbucks)        (go, starbucks)        NaN

[207657 rows x 2 columns]

In [ ]:
'''import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')

#token_words=[]
#final_words=[]
#token_words=new_data.clean_text.apply(word_tokenize)
new_data['clean_text']=new_data.clean_text.apply(word_tokenize)
print(new_data)


#array=new_data['clean_text'].stack().value_counts()
#print(array)'''
'''d={'word': array.index, 'frequency':array}
df2=pd.DataFrame(data=d)

df2['frequency']=df2['frequency'][df2['frequency']>10]
df2'''

"d={'word': array.index, 'frequency':array}\ndf2=pd.DataFrame(data=d)\n\ndf2['frequency']=df2['frequency'][df2['frequency']>10]\ndf2"

In [ ]:
'''array=pd.Series([y for x in  new_data['clean_text'] for y in x]).value_counts()

#array=new_data['clean_text'].value_counts()
print(array)'''

df2=df2.dropna(axis=0, how='any')
df2.to_csv('wordbag.csv', header=True, index=False, encoding='utf-8')
df2

                    word  frequency
(in, the)      (in, the)     1648.0
(of, the)      (of, the)     1257.0
(for, the)    (for, the)     1137.0
(going, to)  (going, to)     1130.0
(on, the)      (on, the)     1114.0
...                  ...        ...
(i, be)          (i, be)       10.0
(a, man)        (a, man)       10.0
(and, win)    (and, win)       10.0
(and, how)    (and, how)       10.0
(work, at)    (work, at)       10.0

[3926 rows x 2 columns]

In [ ]:
'''from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

final_words= token_words.apply(lambda x: [item for item in x if item not in stop])
print(final_words)'''
#train['tweet_text']=train['tweet_text'].str.split()
train

                 tweet_id  ...                                         tweet_text
0      264183816548130816  ...  [(gas, by), (by, my), (my, house), (house, hit...
1      263405084770172928  ...  [(theo, walcott), (walcott, is), (is, still), ...
2      262163168678248449  ...  [(its, not), (not, that), (that, iu2019m), (iu...
3      264249301910310912  ...  [(iranian, general), (general, says), (says, i...
4      262682041215234048  ...  [(tehranu002c, mon), (mon, amour), (amour, oba...
...                   ...  ...                                                ...
21460  522949024132112384  ...  [(the, day), (day, after), (after, newark), (n...
21461  522372593312350209  ...  [(fec, hold), (hold, farewell), (farewell, ses...
21462  522515200592052224  ...  [(luca, di), (di, montezemolo), (montezemolo, ...
21463  523089087155437568  ...  [(coffee, is), (is, pretty), (pretty, much), (...
21464  518290874300514304  ...  [(niki, lauda), (lauda, just), (just, confirme...

[21465 rows x 3 columns]

In [ ]:
wordbag=pd.read_csv('wordbag.csv')
wordbag.dropna(axis=0, how='any')
wordbag

                 word  frequency
0       ('in', 'the')     1648.0
1       ('of', 'the')     1257.0
2      ('for', 'the')     1137.0
3     ('going', 'to')     1130.0
4       ('on', 'the')     1114.0
...               ...        ...
3921      ('i', 'be')       10.0
3922     ('a', 'man')       10.0
3923   ('and', 'win')       10.0
3924   ('and', 'how')       10.0
3925   ('work', 'at')       10.0

[3926 rows x 2 columns]

In [ ]:
#new_data=new_data.drop('clean_text',axis=1) 
#new_data.insert(2,"final_words", final_words)
#print(new_data.clean_text)
#print(new_data.final_words)

#new_data['clean_text']=new_data['clean_text'].str.split() 
#new_data.insert(2,"final_words", final_words)
#print(new_data.clean_text)
#new_data.to_csv('new_data.csv')
#new_data=pd.read_csv('new_data.csv')

#new_data=new_data.drop('Unnamed: 0',axis=1)
print(train.sentiment)

0        positive
1        negative
2        negative
3        negative
4         neutral
           ...
21460     neutral
21461     neutral
21462     neutral
21463    positive
21464     neutral
Name: sentiment, Length: 21465, dtype: object

In [ ]:
'''import pandas as pd
#import collections
#array=new_data['final_words'].value_counts()
#array=collections.Counter([y for x in new_data['final_words'] for y in x])
array=pd.Series([y for x in  new_data['final_words'] for y in x]).value_counts()
#print(array)

d= {"word": array.index, "frequency": array}
df2=pd.DataFrame(data=d)


df2['frequency']=df2['frequency'][df2['frequency']>10]
df2=df2.dropna(how='any')

df2.to_csv('wordbag.csv',header=True, index= False, encoding='utf-8')
wordbag=pd.read_csv('wordbag.csv')
print(df2)'''


'''from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

final_words= new_data['clean_text'].apply(lambda x: [item for item in x if item not in stop])
print(final_words)

In [ ]:
from sklearn.model_selection import train_test_split
#train,val=train_test_split(new_data, test_size=0.2)

#print(train.sentiment)
train_positive= train[train['sentiment']== 'positive']
train_neutral= train[train['sentiment']== 'neutral']
train_negative= train[train['sentiment']== 'negative']
#print(train_positive.sentiment, train_positive.tweet_text)

positive_instance= len(train_positive)
negative_instance= len(train_negative)
neutral_instance= len(train_neutral)
print(positive_instance, negative_instance, neutral_instance)

#frequency['word']=wordbag['word']
word_bank=[0]*len(wordbag)
positive=[0]*len(wordbag)
negative=[0]*len(wordbag)
neutral=[0]*len(wordbag)

#print(wordbag)

9064 3387 9014

In [ ]:
'''pos=[0]*len(train_positive)
for i in range(25):
  word= wordbag['word'].iloc[i]
  print(word)
  appears=0
  count=0
  for j in range(len(train_positive)):
    if word in train_positive['tweet_text'].iloc[j]:
      appears=1
    if appears>0:
        count+=1
  pos[i]=count'''
#print(pos)
  
x=wordbag['word'].iloc[1]
e=eval(x)
print(type(e))
arr=train_positive['tweet_text'].iloc[j][0]
print(type(arr))

if x in arr:
  print(True)
else:
  print(False)

<class 'tuple'>
<class 'tuple'>
False

In [ ]:
for i in range(len(wordbag)):
#for i in range(25):
  word= eval(wordbag['word'].iloc[i])
  
  word_bank[i]= word
  #print(word)
  #check= str("'") + word + str("'")
  
  count=0
  appears=0
  for j in range(len(train_positive)):
    #appears= train_positive['tweet_text'].iloc[j].count(check)
    #appears= train_positive['tweet_text'].iloc[j].count(word)
    appears=0
    if word in train_positive['tweet_text'].iloc[j]:
      #print(train_positive['tweet_text'].iloc[j])
      appears=1

    if appears>0:
      count+=1
  positive[i]=count

  count=0
  appears=0
  for k in range(len(train_negative)):
    #appears= train_negative['tweet_text'].iloc[k].count(check)
    #appears= train_negative['tweet_text'].iloc[k].count(word)

    appears=0
    if word in train_negative['tweet_text'].iloc[k]:
      appears=1

    if appears>0:
      count+=1
  negative[i]=count

  count=0
  appears=0
  for l in range(len(train_neutral)):
    #appears= train_neutral['tweet_text'].iloc[l].count(check)
    #appears= train_neutral['tweet_text'].iloc[l].count(word)

    appears=0
    if word in train_neutral['tweet_text'].iloc[l]:
      appears=1


    if appears>0:
      count+=1
  neutral[i]=count

  print(i)
#print(positive, negative, neutral)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482

KeyboardInterrupt: ignored

In [ ]:
d={'word': word_bank, 'positive': positive, 'neutral': neutral, 'negative': negative}
freqtable=pd.DataFrame(data=d)


freqtable.to_csv('freqtablebi5.csv', header=True, index= False, encoding='utf-8')

freq=pd.read_csv('freqtablebi5.csv')
print(freq)

In [ ]:
from google.colab import files
files.download('freqtablebi5.csv')

In [ ]:
#for bigrams
#type(eval(freq['word'][0]))
#freq['word']=eval(freq['word'])
#freq